/* CONFIG PAGE */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   /* styles */
   --modal-widths: clamp(20rem, 20rem + 20vw, 48rem);
   --f-family: "Inter", sans-serif;
   --bg-color-modal: #6D67D0;
   --bg-error: red;
   --bg-transparent-btn: #dad8f756;
   --outline-colors:  #352af8;
   --txt-color: #ffff;
   --fancy-txt: #C2BFF4;
   --fancy-modal-txt-one: #DAD8F7;
   --fancy-modal-txt-two: #E7E6FB;
   --good-time-color: #87EBCD;
   --default-border: 1rem;
}

body {
   font-size: 1.6rem;
   background: url('./images/bg-body.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   height: 100vh;
}

body * {
   font-family: var(--f-family);
}

.hide {
   display: none;
}

.hide-error {
   transform: translateY(-100%);
}

.show-error {
   transform: translateY(0);
}

img {
   width: 10rem;
}

button {
   border: none;
   cursor: pointer;
   padding: 0.5rem;
   background-color: var(--bg-transparent-btn);
   transition: 0.2s;
}

input, button {
   outline-color: var(--outline-colors);
}

button:hover {
   background: var(--fancy-modal-txt-one);
   color: var(--bg-color-modal);
}

button, label {
   font-size: clamp(1.2rem, 1.2rem + 1vw, 2rem);
}

.modal, button {
   border-radius: var(--default-border);
}

.modal, header {
   background-color: var(--bg-color-modal);
   width: var(--modal-widths);
   margin: 3rem auto;
   padding: 1rem;
   transition: 0.3s;
}

.modal:hover, header:hover {
   transform: scale(1.006);
}

h1, p, button, label, .type-data{
   color: var(--fancy-modal-txt-two);
}

svg, .main, .max {
   color: var(--txt-color);
}

/* ERROR MESSAGE */
.error-container {
   padding: 1rem;
   background-color: var(--bg-error);
   text-align: center;
   transition: 0.5s;
}

/* HEADER SELECT STATE FOR WEATHER */
header {
   margin-top: 1rem;
   border-radius: var(--default-border);
}

header .main-title {
   font-size: clamp(2.4rem, 2.4rem + 1vw, 3.2rem);
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1.5rem;
}

header #states-country {
   gap: clamp(1rem, 1rem + 3vw, 5rem);
}

header #states-country .states-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
   margin-bottom: 1.5rem;
}

header #states-country input {
   border-radius: var(--default-border);
   width: 16rem;
   padding: 1rem;
   border: none;
}

header button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

/* CURRENT WEATHER MODAL */
#modal-container .decorative-icon {
   position: absolute;
   z-index: 1;
   font-size: 7rem;
   top: -9%;
   left: -4%;
}
#modal-container .modal.current-weather-container {
   background-image: url(./images/bg-modal.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   margin: 0 auto;
   position: relative;
}

.current-weather-container .local {
   font-size: clamp(1rem, 1rem + 1vw, 1.4rem);
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 0.5rem;
   font-weight: bold;
}

.local, .min, .measure-temperature  {
   color: var(--fancy-txt);
}

.main-container {
   display: flex;
}

.main, .max, .min, .data {
   font-weight: bold;
}

.main {
   display: flex;
   margin-left: 1.8rem;
}

.main .measure-temperature {
   font-weight: normal;
   font-size: 2rem;
}

.current-weather-container .local svg {
   width: 1.2rem;
}

.current-weather {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
}

.current-weather .main {
   font-size: 5rem;
   margin-bottom: 0.5rem;
}

/* OTHER INFOS CURRENT WEATHER */
.other-infos {
   margin-top: 10rem;
   display: flex;
   gap: 0.8rem;
   justify-content: center;
}
.card {
   background-color: #6c67d0b4;
   padding: 1rem 0;
   width: clamp(7.5rem, 7.5rem + 8vw, 15rem);
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: var(--default-border);
   font-size: 1rem;
   transition: 0.3s;
}

.card:hover {
   transform: scale(1.04);
}

.card svg.icon-info {
   font-size: clamp(2rem, 2rem + 1vw, 6rem);
}

.card .data, .day {
   color: var(--fancy-modal-txt-one);
}

.card .type-data {
   font-size: clamp(1rem, 1rem + 1vw, 1.1rem);
}

.data {
   font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
}

/* OTHER WEATHER DAYS */
.other-weather-days .weathers-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 5rem;
   padding: 2rem;
}

.weathers-container .day-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
   transition: 0.3s;
}

.day-container .day {
   font-size: 1.4rem;
}

.day-container:hover {
   transform: scale(1.03);
}

.day-container .icon-weather-for-day {
   font-size: clamp(4.5rem, 4.5rem + 2vw, 6.4rem);
}

/* FINAL CREDITS */
.end-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.end-page ul {
   display: flex;
   list-style: none;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   margin-top: 1rem;
}

.end-page ul svg {
   font-size: 3rem;
   transition: 0.2s;
}

.end-page ul svg:hover {
   transform: scale(1.06);
}